In [6]:
import pandas as pd

In [26]:
# load csv file
file_path = './raw-results/COSC 499 Peer Testing Round 1_Questionnaire_RAW.csv'
df = pd.read_csv(file_path)

# remove headers
df_dropped = df.drop(index=[0, 1, 2])

# separate question blocks
TLX = df_dropped.iloc[:, 0:20]
WUS = df_dropped.iloc[:, 20:30]
recommend = df_dropped.iloc[:, 30:31]
free_text_q1 = df_dropped.iloc[:, 31:32]
free_text_q2 = df_dropped.iloc[:, 32:33]

In [97]:
#-------------------------------------------
# Analysis for TLX
#-------------------------------------------

# hardcoding since this is quicker
indices_to_exclude = [1, 5, 9, 13, 17]  # for question 2: "I was successful in accomplishing what I wanted to do"
reverse_code_columns = [i for i in range(TLX.shape[1]) if i not in indices_to_exclude]

# reverse code columns
TLX_int = TLX.astype(int)
TLX_int.iloc[:, reverse_code_columns] = TLX_int.iloc[:, reverse_code_columns].apply(lambda x: 8-x)

# calculate mean for each task
# note: for each group, we are taking the mean of the mean of each column
# This gives the correct mean since the number of elements of all groups is the same
# https://math.stackexchange.com/questions/95909/why-is-an-average-of-an-average-usually-incorrect
num_groups = len(TLX_int.columns) // 4
for i in range(num_groups):
    group = TLX_int.iloc[:, i*4:(i+1)*4]
    print("Mean TLX Score for Task {task_num}:".format(task_num=i+1), 
          group.mean().mean())

# calculate mean for all tasks
print("Mean TLX Score for All Tasks:", TLX_int.mean().mean())

Mean TLX Score for Task 1: 5.181818181818182
Mean TLX Score for Task 2: 5.272727272727273
Mean TLX Score for Task 3: 5.2272727272727275
Mean TLX Score for Task 4: 5.090909090909091
Mean TLX Score for Task 5: 5.409090909090908
Mean TLX Score for All Tasks: 5.236363636363636

In [122]:
#-------------------------------------------
# Analysis for WUS
# Guidelines: https://measuringu.com/sus/
#-------------------------------------------

WUS_int = WUS.astype(int)
odd_items = [i for i in range(WUS.shape[1]) if i % 2 == 0]      # index starts at 0
even_items = [i for i in range(WUS.shape[1]) if i % 2 != 0]

# for odd items, subtract one from the user response
WUS_int.iloc[:, odd_items] = WUS_int.iloc[:, odd_items].apply(lambda x: x-1)

# for even-numbered items, subtract the user responses from 5
WUS_int.iloc[:, even_items] = WUS_int.iloc[:, even_items].apply(lambda x: 5-x)

# ensure that all values are between 0 and 4 after scaling
assert ((WUS_int >= 0) & (WUS_int <= 4)).all().all()

# add up the converted responses for each user and multiply that total by 2.5
row_sums = WUS_int.sum(axis=1) * 2.5

# ensure that all values are between 0 and 100 after scaling
assert ((row_sums >= 0) & (row_sums <= 100)).all()

# find the average WUS score
print("Mean WUS Score:", row_sums.mean())

Mean WUS Score: 64.77272727272727

In [133]:
#-------------------------------------------
# How likely are you to recommend this website to others?
# Scale: 0 to 10
#-------------------------------------------

recommend_int = recommend.astype(int)
print("Mean Recommendation Score (all participants):", recommend_int.mean().mean())

# if we remove the two non-responses (0)
drop_nan = recommend_int[recommend_int != 0]
print("Mean Recommendation Score (drop NaN):", drop_nan.mean().mean())

Mean Recommendation Score (all participants): 5.818181818181818
Mean Recommendation Score (drop NaN): 7.111111111111111

In [134]:
free_text_q1

                                           FreeTextQ1
3                                                 NaN
4                                          Efficient
5   The system's pretty intuitive and I was able t...
6                                         Simplicity
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                              I really liked the UI
11  The UI was very aesthetically pleasing and smo...
12                                  Consistent design
13  Works good, the omr working would be great but...

In [135]:
free_text_q2

                                           FreeTextQ2
3                                                 NaN
4                      Interface can be much simpler
5   I'm not sure. Some usability features could be...
6   Clearer differentiation between accessing and ...
7   functions is clicking everywhere on the web pa...
8                                                 NaN
9                                                 NaN
10  I would say that creating and grading exams co...
11  When going on it for the first time, it was a ...
12                                         Add alerts
13           Looks good to me just some minor changes